.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--box-shadow);

    min-height: 50rem;

    //you cannot use css variables plugged into media queries, so you have to use sass variables - 
    //this is similar to how with a linear gradient background image you can only blug SASS variables into rgba() color selector 
    //if you want opacity to be added

    //in fact you can mix both sass and css variables

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
    }

    @media only screen and (max-width: $bp-large) {
        max-width: 100%;
        width: 100%;
    }
    
}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line); 
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-xs) {
        flex-wrap: wrap;
        height: 10rem;
    }
    
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    background-color: blue;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }

}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.hotel-view {
    background-color: #fff;
    flex: 1;
}

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }

}

.description {
    box-shadow: var(--shadow-light);

    flex: 0 0 60%;

    margin-right: 4.5rem;
    padding: 3rem;
    @media only screen and (max-width: $bp-medium) {
        margin-right: 2rem;
        padding: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 2rem;
    }
    
}

.user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}